.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
  width: 100%;
}

.login-form__fieldset {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: var(--colour-translucent-white);
  border: 1px solid var(--colour-transparent-black);
  border: 0;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  max-width: 400px;
  margin: 0 auto;
}

.login-form__label {
  text-align: left;
}

.login-form__text-input {
  margin-bottom: 0.5em;
}

.login-form__btn {
  display: block;
  margin-top: 0.5em;
}

.login-form__error {
  color: darkred;
  margin-top: 0.5em;
}