.map-page {
  display: none;
}

.map-page__main {
  width: 100%;
}

.map-page__sidebar {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: var(--colour-translucent-white);
  border-bottom: 1px solid var(--colour-transparent-black);
  position: absolute;
  right: 10px;
  top: 90px;
  padding: 10px 10px 10px 10px;
  width: 300px;
}